.header {
    &__title {
        display: flex;
        justify-content: flex-start;
    }
}

.main {
    &__title {
        display: flex;
        justify-content: center;
    }
}

.footer {
    &__title {
        display: flex;
        justify-content: flex-end;
    }
}