// общее:
& {
    cursor: pointer; // курсор
    text-decoration: none; // убираю подчеркивание, если это ссылка
    user-select: none; // запрещаю выделение текста
    transition: all 250ms; // анимация
    background-clip: padding-box; // как цвет фона или фоновая картинка должна выводиться под границами: фон отображается внутри границ.
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0; // тени
}

// когда кнопка в фокусе - выбрана:
// &:focus {

// }

// когда над кнопкой наведена мышь:
&:hover {
    box-shadow: rgb(0 0 0 / 10%) 0 4px 12px; // тени
    transform: translateY(-1px); // приподнял
    filter: brightness(125%); // яркость(по умолчанию 100%) - тут осветлил
}

// когда кнопка активная - нажатая:
&:active {
    box-shadow: rgb(0 0 0 / 6%) 0 2px 4px; // тени
    transform: translateY(0); // опустил
    filter: brightness(75%); // яркость(по умолчанию 100%) - тут затемнил
}
