// общее:
& {
    cursor: pointer; // курсор
    text-decoration: none; // убираю подчеркивание, если это ссылка
    user-select: none; // запрещаю выделение текста
    transition: all 250ms; // анимация
    outline: none; // внешняя граница элемента - не отображается
}

// не посещённая ссылка - обычное состояние:
&:link {
    color: inherit; // цвет как у родителя (как и был)
}

// посещённая ссылка - уже переходили по ней:
&:visited {
    filter: brightness(75%); // яркость(по умолчанию 100%) - тут затемнил
}

// когда ссылка в фокусе - выбрана:
&:focus {
    outline: auto; // внешняя граница элемента - авто
}

// когда над ссылкой наведена мышь:
&:hover {
    color: inherit; // цвет как у родителя (как и был)
    transform: translateY(-1px); // приподнял
    filter: brightness(125%); // яркость(по умолчанию 100%) - тут осветлил
}

// когда ссылка активная - нажатая:
&:active {
    transform: translateY(0); // опустил
    filter: brightness(75%); // яркость(по умолчанию 100%) - тут затемнил
    text-decoration: underline; // нижнее подчеркивание
}
